<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122840650-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122840650-1');
    </script>

    <title>공유기 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
    <meta property="og:description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//cdn.ckeditor.com/4.10.0/full/ckeditor.js"></script>
    <link rel='stylesheet' href='/scss/style.css' />
</head>
<body>
<div id="app">
    <% include ../top %>
    <div v-if="logined == true && isAccessable == true">
        <% include ../topMenu %>
        <div style="text-align: center;">
            <div class="sub">전체 서버 메시지</div>
            <div class="sub desc">전체 서버에 메시지를 뿌립니다.</div>
            <input type="text" id="ip-msg"/><br/>
            <button class="btn-basic" @click="onBtnSendAdminMsg">보내기</button>
        </div>

        <div style="text-align: center">
            <div class="sub">클릭 이벤트 설정</div>
            <div class="desc">네이버 검색 결과로 이동하는 클릭 이벤트를 설정합니다.</div>
            <table style="margin: 0 auto;">
                <tr>
                    <td>메시지</td><td><input type="text" class="ip-default ip-w-long" v-model="rsrMsg"/></td>
                </tr>
                <tr>
                    <td>버튼 메시지</td><td><input type="text" class="ip-default ip-w-long" v-model="rsrBtnMsg"/></td>
                </tr>
                <tr><td>검색어</td><td><input type="text" class="ip-default ip-w-long" v-model="rsrWord"/></td></tr>
                <tr><td colspan="2"><button class="btn-basic" @click="onBtnSendRSR">보내기</button></td></tr>
            </table>
        </div>
        <div style="text-align: center;">
            <div class="sub">채팅창 얼리기</div>
            <div class="desc">서버에 과부하 조짐이 보이면 클릭 해 줍니다.</div>
            <button class="btn-basic" @click="onBtnFreezeChat">실행</button>
        </div>
    </div>
    <div v-else-if="logined == false">
        <div id="login-form">
            <label>아이디</label>
            <input type="text" v-model="ip_id">
            <label>비밀번호</label>
            <input type="password" v-model="ip_pw" @keyup.13="onBtnLogin">
            <button @click="onBtnLogin">로그인</button>
        </div>
    </div>
    <div v-else>
        권한이 없습니다.
    </div>
</div>
</body>
<script type="text/javascript" src="/index.js"></script>
<script>
    $(document).ready(function() {
        init();
        G.app.logined = <%- isLogined %>;
        G.app.isAccessable = <%- isAcessable %>;
        var servItems = [];
        <% for( var i = 0 ; i < servers.length ; ++i ) {%>
        var item = {};
        item.name = '<%- servers[i].name %>';
        item.idx = <%- servers[i].idx %>;
        item.limit = '<%- servers[i].limit %>';
        servItems.push(item);
        <%}%>

        servItems.sort(function(item1, item2) {
            return item1.idx - item2.idx;
        });

        G.app.servers = servItems;
    });
</script>
</html>