<!DOCTYPE html>
<html>
<head>
    <title>라이브 퀴즈 정답 공유기 v0.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
    <meta property="og:description" content="JAM LIVE ( 잼라이브 ) 퀴즈 문제의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="/basic.js"></script>
    <script src="/myChart.js"></script>
    <link rel='stylesheet' href='/stylesheets/style3rd.css' />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
<separator role="menu">
    <img src="/images/logo.png"/>
    <div type="msg">참가자 수</div>
    <div type="noti"><vote_user_cnt>0</vote_user_cnt>명</div>
    <div type="msg">밴</div>
    <div type="noti"><vote_except>0</vote_except>명</div>
    <div type="line"></div>
    <div type="menu_btn" id="btn-svr1">서버1</div>
    <div type="menu_btn" id="btn-svr2">서버2</div>
    <div type="noti">현재: <%- servname %></div>
    <div type="line"></div>
    <%
    if( !username ) {%>
    <div type="menu_btn" id="btn-login">로그인</div>
    <%}else {%>
    <div type="user-info">
        <name><%=nick%></name>
        <lv><%=auth%> Lv</lv>
    </div>
    <div type="line"></div>
    <div type="menu_btn" id="btn-logout">로그아웃</div>
    <%}%>
    <% if( !username ) {%>
    <div type="menu_btn" id="btn-signup">회원가입</div>
    <%}else {%>
    <%}%>

    <div type="line"></div>
    <div type="menu_btn" id="btn-settings">설정</div>
    <div type="menu_btn" id="btn-help">도움말</div>
    <div type="line"></div>
    <div type="menu_btn" id="btn-quiz">기출문제</div>
    <div type="line"></div>
    <div type="msg">잼라이브</div>
    <div type="noti">FBICT</div>
    <div type="msg">페이큐</div>
    <div type="noti">LGJXRQ</div>
</separator>
<article>
    <separator role="search-ret-1">
        <div type="search-area-1" id="search-area-1"></div>
        <div type="ads-area-1" id="ads-area-1">
            <div type="title">검색 결과 창 - [지식인,블로그, 뉴스]</div>
            <div type="sub-title">사이트 이용방법은 왼쪽 메뉴의 [도움말]을 참고 하세요</div>
            <ins class="daum_ddn_area" style="display:none;margin-top:5px"
                 data-ad-unit    = "DAN-1hbghejif3l2e"
                 data-ad-media   = "5MC"
                 data-ad-pubuser = "4jp"
                 data-ad-type    = "D"
                 data-ad-width   = "250"
                 data-ad-height  = "250"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js"></script>
        </div>
        <div type="memo">
        </div>
    </separator>
    <separator role="search-ret-2">
        <div type="search-area-2" id="search-area-2">
        </div>
        <div type="ads-area-2" id="ads-area-2">
            <div type="title">검색 결과 창 - [백과사전,기출,구글]</div>
            <div type="sub-title">사이트 이용방법은 왼쪽 메뉴의 [도움말]을 참고 하세요</div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-urmud1jjvzg3"
                 data-ad-width   = "250"
                 data-ad-height  = "250"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
        </div>
        <div type="caution">
            1. 정확하게 아는 것만 투표 해 주세요<br>
            2. 조금이라도 헷갈리면 투표하지 말아주세요<br>
            3. 투표로 장난 치는 ip는 수시로 체크하고 있습니다<br>
            4. 영구 Ban 은 곧 리스트 정리해서 할 예정입니다.
        </div>
        <textarea class="memo-area"></textarea>
    </separator>
    <separator role="vote-and-chat">
        <separator role="vote-graph">
            <div class="ct-chart">
            </div>
        </separator>
        <separator role="ads-area">
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-1iyeys41mnepk"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
        </separator>
        <separator role="chat-area">
            <div type="chat-msg">
                <ul class="chat-ui">
                </ul>
            </div>
            <div type="chat-input">
                <input class="ip-name" type="text"><input class="ip-msg" type="text">
            </div>
        </separator>
        <separator role="ads-area-2">
            <ins class="kakao_ad_area" style="display:none;width:100%"
                 data-ad-unit    = "DAN-t87e91n4i053"
                 data-ad-width   = "320"
                 data-ad-height  = "50"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
        </separator>
    </separator>
</article>
<wnd role="settings">
    <div type="title"> - 투표 - </div>
    <div type="line"></div>
    <div type="checkbox"><input type="checkbox" class="cb_max_vote_duplicate"/>최다 투표 동률시 미표시</div>
    <div type="checkbox"><input type="checkbox" class="cb_show_member_vote_only"/>고정닉 투표 결과만 보기(로그인시)</div>
    <div type="msg">아래 설정값이하 미표시 ( <min_vote>0</min_vote>표 이하 ) </div>
    <div class="min_vote_slider"></div>
    <div type="line"></div>
    <div type="title"> - 검색 - </div>
    <div type="line"></div>
    <div type="msg">검색당 결과 수 ( <ret_cnt>0</ret_cnt>표 이하 ) </div>
    <div class="ret_cnt_slider"></div>
    <div type="checkbox"><input type="checkbox" id="cb_s0"/>네이버 - 백과사전</div>
    <div type="checkbox"><input type="checkbox" id="cb_s1"/>네이버 - 지식인</div>
    <div type="checkbox"><input type="checkbox" id="cb_s2"/>네이버 - 블로그</div>
    <div type="checkbox"><input type="checkbox" id="cb_s3"/>네이버 - 뉴스</div>
    <div type="checkbox"><input type="checkbox" id="cb_s4"/>네이버 - 이미지</div>
    <div type="checkbox"><input type="checkbox" id="cb_s5"/>구글</div>
    <div type="checkbox"><input type="checkbox" id="cb_s6"/>사이트 기출DB</div>
    <div type="checkbox"><input type="checkbox" class="cb_auto_search"/>반자동 검색 기능 On/Off</div>
    <div type="line"></div>
    <div type="title"> - 채팅 - </div>
    <div type="line"></div>
    <div type="checkbox"><input type="checkbox" id="cb_auto_scroll"/>강제 자동 스크롤 on/off</div>
    <div type="checkbox"><input type="checkbox" id="cb_votemsg"/>투표 채팅 가리기</div>
</wnd>
<wnd role="help">
    <div type="title"> - 투표 방법 - </div>
    <div type="msg"> - 키보드 자판의 1,2,3 번을 누르면 투표 가능</div>
    <div type="msg"> - 키보드 오른쪽 키패드 1,2,3번도 가능</div>
    <div type="line"></div>
    <div type="title"> - 검색 방법 - </div>
    <div type="msg">채팅 입력창에서 '/' 입력 후 검색하고자하는 검색어를 입력한 후 엔터</div>
    <div type="msg">ex> '/월드컵 최다 우승팀'</div>
    <div type="line"></div>
    <div type="title"> - 신고 방법 - </div>
    <div type="msg"> 악의적으로 혼란을 주기 위해 이상한 투표를 하는 분들을 위한 신고 제도가 있습니다.</div>
    <div type="msg"> - 채팅창에서 그 유저의 아이디를 클릭 후 신고</div>
    <div type="line"></div>
</wnd>
<div class="admin_msg"></div>
<div class="quiz_wnd">
    <div class="q_title">문제</div>
    <div style="height: 10px;"></div>
    <div class="q_q">보기1</div>
    <div class="q_q">보기2</div>
    <div class="q_q">보기3</div>
    <div><time>0</time></div>
</div>
</body>
<script type="text/javascript" src="/index_3rd.js"></script>
<script>
    $(document).ready(function() {
        if( isMobile() ) {
            window.location.href = 'http://jamlive.net';
            return;
        }

        <%if(!username) {%>
        setNickName();
        $('.ip-name').prop('disabled', false);
        <%}else {%>
        isLogin = true;
        $('.ip-name').val('<%- nick %>');
        usernick = '<%= nick %>';
        $('.ip-name').prop('disabled', true);
        <%}%>
        init();
        registerKeyEvent();
        registerSocketEvent();
        setMinVoteSliderListener();
        setShowMemberVoteOnlyListener();
        setSocketListener();
        setBtnListener();
        setSearchCheckboxes();
        setVoteMsgVisibleListener();
    });
</script>