<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122840650-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122840650-1');
    </script>

    <title><%= __('title')%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라이브 퀴즈쇼(잼라이브, 꿀잼 퀴즈방, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
    <meta property="og:description" content="라이브 퀴즈쇼(잼라이브, 꿀잼 퀴즈방, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <link href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="/basic.js"></script>
    <script src="/myChart.js"></script>
    <script src="/js/modules/jquery.countdown-2.2.0/jquery.countdown.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/styleSuwon.css' />
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <script src="//cdn.ckeditor.com/4.10.0/full/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
<div id="root">
    <div id="vote-list" v-show="visible">
        <div class="top-bar" v-text="sTitle">
            투표자
        </div>
        <div id="vote-list-inner" v-html="listHtml">
            <table style="width: 100%">
                <tr>
                    <td>닉네임</td>
                    <td>투표번호</td>
                    <td>시간</td>
                    <td>액션</td>
                </tr>
            </table>
        </div>
        <div id="btn-vote-list-close">
            닫기
        </div>
    </div>
    <div id="area-top">
        <div id="area-top-left">
            <div id="logo">
                <img src="/images/_logo.png"/>
            </div>
            <div id="serv-info">
                <img class='icon' src="/images/cnt_global_icon.png"/>
                <span class="info" id="total-conn-cnt">0</span>
                <img class='icon' src="/images/cnt_local_icon.png"/>
                <span class="info" id="conn-cnt">0</span>
            </div>
        </div>
        <div id="area-top-center">
            <span id="clock"></span>
        </div>
        <div id="area-top-right">
            <div class="area-top-btn" id="btn-site-menu">
                사이트 메뉴
            </div>
            <div class="curserv"><%= __('current-server-name')%> : <nc><%- servname %></nc></div>
            <div class="area-top-btn" id="btn-settings"><%=__('menu-settings')%></div>
            <%
            if( !username ) {%>
            <%}else {%>
            <div class="area-login-info"><%-userinfo.usernick%>(<span v-text="ap"><%-userinfo.ap%></span> 점)</div>
            <%}%>
        </div>
    </div>
    <!--
    <div id="settings" v-show="visible">
        <div type="title"> - <%= __('vote')%> - </div>
        <div type="line"></div>
        <div type="checkbox"><input type="checkbox" :disabled="arrowVote.disabled" :checked="arrowVote.checked" @change="onChange(arrowVote.storage, arrowVote, $event)" class="cb_vote_arrow_btn"/>방향키로 투표하기</div>
        <div type="checkbox"><input type="checkbox" class="cb_max_vote_duplicate"/>최다 투표 동률시 미표시</div>
        <div type="checkbox"><input type="checkbox" :disabled="showHighLevelVoteOnly.disabled" :checked="showHighLevelVoteOnly.checked" @change="onChange(showHighLevelVoteOnly.storage, showHighLevelVoteOnly, $event)" class="cb_show_search_user_vote_only"/>레벨 4이상 유저 투표만 보기(로그인시)</div>
        <div type="msg">아래 설정값이하 미표시 ( <span class="min_vote">0</span>표 이하 ) </div>
        <div class="min_vote_slider"></div>
        <div type="line"></div>
        <div type="title"> - 검색 - </div>
        <div type="line"></div>
        <div type="msg">검색당 결과 수 ( <span class="ret_cnt">0</span>표 이하 ) </div>
        <div class="ret_cnt_slider"></div>
        <div type="checkbox"><input type="checkbox" id="cb_s4"/>네이버 - 이미지
            <input type="radio" name="radio_s4" value="1" checked>왼쪽
            <input type="radio" name="radio_s4" value="2">오른쪽
        </div>
        <div type="checkbox"><input type="checkbox" id="cb_s5"/>구글(다음으로 대체)
            <input type="radio" name="radio_s5" value="1" >왼쪽
            <input type="radio" name="radio_s5" value="2"checked>오른쪽
        </div>
        <div type="checkbox"><input type="checkbox" id="cb_s6"/>사이트 기출DB
            <input type="radio" name="radio_s6" value="1" >왼쪽
            <input type="radio" name="radio_s6" value="2"checked>오른쪽
        </div>
        <div type="checkbox"><input type="checkbox" id="cb_s7"/>어학사전
            <input type="radio" name="radio_s7" value="1" >왼쪽
            <input type="radio" name="radio_s7" value="2"checked>오른쪽
        </div>
        <div type="checkbox"><input type="checkbox" id="cb_top_five"/>검색 top 5 보기</div>
        <div type="line"></div>
        <div type="title"> - 채팅 - </div>
        <div type="line"></div>
        <div type="checkbox"><input type="checkbox" :checked="autoScroll.checked" @change="onChange(autoScroll.storage, autoScroll, $event)" />강제 자동 스크롤 on/off</div>
        <div type="checkbox"><input type="checkbox" id="cb_notshowchat"/>일반 채팅 안받기(성능)</div>
        <div type="checkbox"><input type="checkbox" id="cb-notice-disable"/>채팅량 일정 이상시 초기화(성능)</div>
    </div>
    -->
    <div id="settings" v-show="visible" @mouseleave="onMouseLeave">
        <div class="inner">
            <ul>
                <li>
                    <dl>
                        <dt>투표</dt>
                        <dd>
                            <input type="checkbox" :disabled="arrowVote.disabled" :checked="arrowVote.checked" @change="onChange(arrowVote.storage, arrowVote, $event)" class="cb_vote_arrow_btn"/>
                            방향키로 투표하기
                        </dd>
                        <dd>
                            <input type="checkbox" :disabled="duplVoteNotShow.disabled" :checked="duplVoteNotShow.checked" @change="onChange(duplVoteNotShow.storage, duplVoteNotShow, $event)"/>
                            최다 투표 동률시 미표시
                        </dd>
                        <dd>
                            <input type="checkbox" :disabled="showHighLevelVoteOnly.disabled" :checked="showHighLevelVoteOnly.checked" @change="onChange(showHighLevelVoteOnly.storage, showHighLevelVoteOnly, $event)"/>
                            레벨 4이상 유저 투표만 보기(로그인시)
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>검색</dt>
                        <dd>보여 줄 결과 수 : <span class="ret_cnt">0</span></dd>
                        <dd>
                            <div class="ret_cnt_slider"></div>
                        </dd>
                        <dd>
                            <input type="checkbox" :disabled="search.localDB.disabled" :checked="search.localDB.checked" @change="onChange(search.localDB.storage, search.localDB, $event)" />기출문제
                            <input type="radio" value="1" v-model="search.localDB.where" :checked="search.localDB.where == 1" @change="onRadioChange(search.localDB)">왼쪽
                            <input type="radio" value="2" v-model="search.localDB.where" :checked="search.localDB.where == 2" @change="onRadioChange(search.localDB)">오른쪽
                        </dd>
                        <dd>
                            <input type="checkbox" :disabled="search.naverImage.disabled" :checked="search.naverImage.checked" @change="onChange(search.naverImage.storage, search.naverImage, $event)" />이미지
                            <input type="radio" value="1" v-model="search.naverImage.where" :checked="search.naverImage.where == 1" @change="onRadioChange(search.naverImage)">왼쪽
                            <input type="radio" value="2" v-model="search.naverImage.where" :checked="search.naverImage.where == 2" @change="onRadioChange(search.naverImage)">오른쪽
                        </dd>
                        <dd>
                            <input type="checkbox" :disabled="search.daum.disabled" :checked="search.daum.checked" @change="onChange(search.daum.storage, search.daum, $event)" />Daum 포털
                            <input type="radio" value="1" v-model="search.daum.where" :checked="search.daum.where == 1" @change="onRadioChange(search.daum)">왼쪽
                            <input type="radio" value="2" v-model="search.daum.where" :checked="search.daum.where == 2" @change="onRadioChange(search.daum)">오른쪽
                        </dd>
                        <dd>
                            <input type="checkbox" :disabled="search.dicEng.disabled" :checked="search.dicEng.checked" @change="onChange(search.dicEng.storage, search.dicEng, $event)" />영어사전
                            <input type="radio" value="1" v-model="search.dicEng.where" :checked="search.dicEng.where == 1" @change="onRadioChange(search.dicEng)">왼쪽
                            <input type="radio" value="2" v-model="search.dicEng.where" :checked="search.dicEng.where == 2" @change="onRadioChange(search.dicEng)">오른쪽
                        </dd>
                        <dd>
                            <input type="checkbox" :disabled="search.dicHan.disabled" :checked="search.dicHan.checked" @change="onChange(search.dicHan.storage, search.dicHan, $event)" />한자사전
                            <input type="radio" value="1" v-model="search.dicHan.where" :checked="search.dicHan.where == 1" @change="onRadioChange(search.dicHan)">왼쪽
                            <input type="radio" value="2" v-model="search.dicHan.where" :checked="search.dicHan.where == 2" @change="onRadioChange(search.dicHan)">오른쪽
                        </dd>
                        <dd>
                            <input type="checkbox" :disabled="search.dicKor.disabled" :checked="search.dicKor.checked" @change="onChange(search.dicKor.storage, search.dicKor, $event)" />국어사전
                            <input type="radio" value="1" v-model="search.dicKor.where" :checked="search.dicKor.where == 1" @change="onRadioChange(search.dicKor)">왼쪽
                            <input type="radio" value="2" v-model="search.dicKor.where" :checked="search.dicKor.where == 2" @change="onRadioChange(search.dicKor)">오른쪽
                        </dd>
                        <dd>
                            <input type="checkbox" title="레벨4부터 가능" :disabled="search.naverEncyc.disabled" :checked="search.naverEncyc.checked" @change="onChange(search.naverEncyc.storage, search.naverEncyc, $event)" />네이버 - 백과사전
                            <input type="radio" value="1" v-model="search.naverEncyc.where" :checked="search.naverEncyc.where == 1" @change="onRadioChange(search.naverEncyc)">왼쪽
                            <input type="radio" value="2" v-model="search.naverEncyc.where" :checked="search.naverEncyc.where == 2" @change="onRadioChange(search.naverEncyc)">오른쪽
                        </dd>
                        <dd>
                            <input type="checkbox" title="레벨4부터 가능" :disabled="search.naverWeb.disabled" :checked="search.naverWeb.checked" @change="onChange(search.naverWeb.storage, search.naverWeb, $event)" />네이버 - 웹
                            <input type="radio" value="1" v-model="search.naverWeb.where" :checked="search.naverWeb.where == 1" @change="onRadioChange(search.naverWeb)">왼쪽
                            <input type="radio" value="2" v-model="search.naverWeb.where" :checked="search.naverWeb.where == 2" @change="onRadioChange(search.naverWeb)">오른쪽
                        </dd>
                        <dd>
                            <input type="checkbox" title="레벨4부터 가능" :disabled="search.naverNews.disabled" :checked="search.naverNews.checked" @change="onChange(search.naverNews.storage, search.naverNews, $event)" />네이버 - 뉴스
                            <input type="radio" value="1" v-model="search.naverNews.where" :checked="search.naverNews.where == 1" @change="onRadioChange(search.naverNews)">왼쪽
                            <input type="radio" value="2" v-model="search.naverNews.where" :checked="search.naverNews.where == 2" @change="onRadioChange(search.naverNews)">오른쪽
                        </dd>
                        <dd>
                            <input type="checkbox" title="레벨4부터 가능" :disabled="search.naverKin.disabled" :checked="search.naverKin.checked" @change="onChange(search.naverKin.storage, search.naverKin, $event)" />네이버 - 지식인
                            <input type="radio" value="1" v-model="search.naverKin.where" :checked="search.naverKin.where == 1" @change="onRadioChange(search.naverKin)">왼쪽
                            <input type="radio" value="2" v-model="search.naverKin.where" :checked="search.naverKin.where == 2" @change="onRadioChange(search.naverKin)">오른쪽
                        </dd>
                        <dd>
                            <input type="checkbox" title="레벨4부터 가능" :disabled="search.naverBlog.disabled" :checked="search.naverBlog.checked" @change="onChange(search.naverBlog.storage, search.naverBlog, $event)" />네이버 - 블로그
                            <input type="radio" value="1" v-model="search.naverBlog.where" :checked="search.naverBlog.where == 1" @change="onRadioChange(search.naverBlog)">왼쪽
                            <input type="radio" value="2" v-model="search.naverBlog.where" :checked="search.naverBlog.where == 2" @change="onRadioChange(search.naverBlog)">오른쪽
                        </dd>
                        <dd>
                            <input type="checkbox" :disabled="showOtherSearch.disabled" :checked="showOtherSearch.checked" @change="onChange(showOtherSearch.storage, showOtherSearch, $event)"/>
                            다른 유저 검색 결과 보기
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>채팅</dt>
                        <dd>
                            <input type="checkbox" :checked="autoScroll.checked" @change="onChange(autoScroll.storage, autoScroll, $event)" />강제 자동 스크롤 on/off
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div id="site-menu" v-show="visible" @mouseleave="onMouseLeave">
        <div class="inner">
            <ul>
                <li>
                    <dl class="server-list">
                        <dt>서버 리스트 1</dt>
                        <dd class="serv" id="btn-serv-1">서버1(투표 제한)</dd>
                        <dd class="serv" id="btn-serv-2">서버2</dd>
                        <dd class="serv" id="btn-serv-3">서버3</dd>
                        <dd class="serv" id="btn-serv-4">서버4</dd>
                        <dd class="serv" id="btn-serv-5">서버5</dd>
                        <dd class="serv" id="btn-serv-6">서버6</dd>
                        <dd class="serv" id="btn-serv-7">서버7</dd>
                        <dd class="serv" id="btn-serv-8">서버8</dd>
                    </dl>
                </li>
                <li>
                    <dl class="server-list">
                        <dt>서버 리스트 2</dt>
                        <dd class="serv" id="btn-serv-9">서버9</dd>
                        <dd class="serv" id="btn-serv-10">서버10</dd>
                        <dd class="serv" id="btn-serv-11">서버11</dd>
                        <dd class="serv" id="btn-serv-12">서버12</dd>
                        <dd class="serv" id="btn-serv-13">서버13</dd>
                        <dd class="serv" id="btn-serv-14">서버14</dd>
                        <dd class="serv" id="btn-serv-15">서버15</dd>
                        <dd class="serv" id="btn-serv-16">서버16(전체서버투표 미반영)</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>기타</dt>
                        <dd @click="onBtnKin" :style="btnStyleKin">지식의 바다</dd>
                        <dd id="quiz-timetable-icon">퀴즈 스케쥴표</dd>
                        <dd @click="onBtnQuizSite" :style="btnStyle">기출 문제 실전 풀이</dd>
                        <dd @click="onBtnCafe" :style="btnStyle"><img id="naver-cafe-icon" src="/images/naver_cafe_icon.png"/></dd>
                        <dd @click="onBtnHelp" :style="btnStyle">도움말</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>유저 메뉴</dt>
                        <%
                        if( !username ) {%>
                        <dd @click="onBtnLogin" :style="btnStyle">로그인</dd>
                        <dd @click="onBtnSignUp" :style="btnStyle">회원가입</dd>
                        <%}else {%>
                        <dd @click="onBtnLogout" :style="btnStyle">로그아웃</dd>
                        <dd>비밀번호 변경</dd>
                        <dd v-show="isAdminMembers" @click="onBtnAdminMode" :style="btnStyle" class="admin">관리자 모드</dd>
                        <dd v-show="isAdminMembers" @click="onBtnSetQuizMode" :style="btnStyle" class="admin">기출문제 수정 모드</dd>
                        <%}%>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div id="area-article">
        <div id="article-left">
            <div id="search-area-left" v-show="visible">
                <div class="search_ret_root" v-for="article in articles">
                    <div class="search_ret_title" v-html="article.title"></div>
                    <div class="search_ret_desc" v-html="article.desc"></div>
                    <div class="separator"></div>
                </div>
            </div>
            <div id="notice"></div>
            <div id="hint">
                <div type="top-menu">
                    <span class="hint-provider" v-text="hintProvider">잼라이브</span><%= __('hint-provider')%>
                    <div :style="globalTab.style" @click="onBtnGlobal">
                        All
                    </div>
                    <div :style="localTab.style" @click="onBtnLocal">
                        This
                    </div>
                    <div id="btn-modify-hint" @click="onBtnModifyHint" v-text="sBtnModifyHintTitle">
                        수정하기
                    </div>
                    <div id="btn-modify-hint-cancel" @click="onBtnModifyHintCancel" v-show="isModify">
                        취소
                    </div>
                </div>
                <div id="hint-article-area" v-show="type == 'local' && !isModify" v-html="localTab.articleArea.html">
                </div>
                <div id="hint-article-area" v-show="type == 'global' && !isModify" v-html="globalTab.articleArea.html">
                </div>
                <div id="hint-modify-area" v-show="isModify">
                    <textarea id ='memo-area' class="memo-area"></textarea>
                </div>
            </div>
            <div class="ads">
                <ins class="kakao_ad_area" style="display:none;width:100%"
                     data-ad-unit    = "DAN-rh5ikhi3t46a"
                     data-ad-width   = "320"
                     data-ad-height  = "50"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
            </div>
            <!--
            <div id="user-list-area">
                <div type="top-menu">
                    접속자 목록
                </div>
                <div id="conn-users-list-wrapper">
                    <ul id="conn-users-list">

                    </ul>
                </div>
            </div>
            -->
        </div>
        <div id="article-center">
            <div id="search-area-center" v-show="visible">
                <div v-html="kinHtml"></div>
                <div class="search_ret_root" v-for="article in articles">
                    <div class="search_ret_title" v-html="article.title"></div>
                    <div class="search_ret_desc" v-html="article.desc"></div>
                    <div class="separator"></div>
                </div>
            </div>
            <div id="video-ads-area">
                <div id="slider" style="width: 100%; height: 100%; text-align: center">
                    <div style="width:100%; height: 297px;">
                        <a href="https://cafe.naver.com/livequizshare" target="_blank"><img src="/images/main_banner/banner2.jpg" style="margin: 0 auto;"/></a>
                    </div>
                    <div style="width:100%; height: 297px;">
                        <img src="/images/main_banner/banner3.jpg" style="margin: 0 auto;"/>
                    </div>
                </div>
            </div>
            <div id="jaum-quiz">
                <jaum-notice>초성 퀴즈가 곧 시작 됩니다</jaum-notice>
            </div>
            <div id="random-quiz">
                <div type="top-menu">
                    <quiz-provider>잼라이브</quiz-provider><%=__('user-quiz')%>
                    <div id="btn-toggle-quiz">
                        <%= __('quiz-off')%>
                    </div>
                </div>
                <div id="quiz-all-wnd">
                    <div id="random-quiz-question-wrapper">
                        <div id="random-quiz-question">
                            문제
                        </div>
                    </div>
                    <div class="random-quiz-answer">
                        보기1
                    </div>
                    <div class="random-quiz-answer">
                        보기2
                    </div>
                    <div class="random-quiz-answer">
                        보기3
                    </div>
                    <div class="gauge-wrapper">
                        <div class="gauge"></div>
                    </div>
                </div>
            </div>
            <div id="ads-banner-center">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-1iyeys41mnepk"
                     data-ad-width   = "320"
                     data-ad-height  = "100"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
            </div>
            <div id="ads-banner2-center">
                <ins class="kakao_ad_area" style="display:none;width:100%"
                     data-ad-unit    = "DAN-uvjqvmlqkb3k"
                     data-ad-width   = "320"
                     data-ad-height  = "50"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
            </div>

        </div>
        <div id="article-right">
            <div id="vote-data">
                <div type="top-menu">
                    <vtitle><%= __('vote-result')%></vtitle>
                    <div id="check-all-server-vote">
                        <input type="checkbox" id="cb-show-all-server-vote"/> 전체 서버 결과 보기
                    </div>
                </div>
                <div class="ct-chart">
                </div>
            </div>
            <div id="ads-banner-right">
                <ins class="kakao_ad_area" style="display:none;width:100%"
                     data-ad-unit    = "DAN-t87e91n4i053"
                     data-ad-width   = "320"
                     data-ad-height  = "50"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
            </div>
            <div id="chat-wnd-root">
                <div id="search-ret-rank">
                    <div class="h1">유저들의 검색 결과 상위 7개</div>
                    <div class="s1">클릭하면 검색합니다</div>
                    <ui id="search-ret-rank-list">
                    </ui>
                </div>
                <div type="top-menu">
                    <vtitle><%= __('chatting-title')%></vtitle>
                    <div id="btn-clear-chat">
                        <%= __('clear-chat')%>
                    </div>
                    <div id="btn-get-vote-list">
                        [투표한 사람]
                    </div>
                    <div id="btn-get-search-list">
                        [검색한 사람]
                    </div>
                </div>
                <div id="chat">
                    <ul class="chat-ui">
                        <li :mode="item.mode" v-for="item in chatMsgList">
                            <div class="chat-msg-item">
                                <div class="nick-area">
                                    <div class="grade">
                                        <img :src="grade(item.auth, item.isBaned)">
                                    </div>
                                    <div class="nick" :ip="item.ip" :sockid="item.sockid">
                                        <div :class="{'admin-nick': item.isAdmin}" v-text="item.nick">
                                        </div>
                                    </div>
                                    <div class="ip" v-text="ip(item.ip)" :style="getIpStyle(item)"></div>
                                </div>
                                <div class="msg-area" v-html="item.msg" :class="{admin: item.isAdmin}" :style="getMsgStyle(item)">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="chat-input-area">
                    <input id="ip-nick" type="text" disabled><input id="ip-msg" type="text">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="admin_msg"></div>
<div class="user-menu">
    <div type="name"><name>왕야옹</name> 님을</div>
    <div type="menu">
        <div type="btn" id="um-ban">신고합니다</div>
        <div type="btn" id="um-permanentban" class="admin-component">영구 밴합니다</div>
        <div type="btn" id="um-like">칭찬합니다</div>
        <div type="btn" id="um-cancel">취소</div>
    </div>
</div>
<div id="help" v-show="visible" @click="onClick">
    <dl>
        <dt>공유기란?</dt>
        <dd>
            모바일 퀴즈쇼를 하면서 자신이 아는 문제를 서로 공유함으로써 우승 확률을 높일 수 있게끔 도와주는 사이트입니다.
            <dl>
                <dt>사용방법</dt>
                <dd>
                    <dl>
                        <dt>투표</dt>
                        <dd> - 키보드를 통해서 하게 됩니다.</dd>
                        <dd> - 키보드 우측의 '키패드' 1,2,3,4 를 누르시면 투표가 가능합니다.</dd>
                        <dd> - 우측 키패드가 없을 시에는 방향키로도 투표하실 수 있습니다 ( 왼쪽 : 1번 아래쪽 : 2번 오른쪽 : 3번 위쪽 : 4번 )</dd>
                        <dd> - 채팅 창에서 숫자를 입력하고 엔터를 누르는 것으로도 투표가 가능합니다.</dd>
                    </dl>
                </dd>
                <dd>
                    <dl>
                        <dt>검색</dt>
                        <dd> - 채팅창에 슬래시(/) 를 입력한 뒤 검색하고 싶은 단어를 그 뒤에 바로 이어서 씁니다.</dd>
                        <dd> - ex) /정답 공유기</dd>
                        <dd> - 검색결과는 약 15초간 유지 됩니다.</dd>
                    </dl>
                </dd>
                <dd>
                    <dl>
                        <dt>채팅</dt>
                        <dd> - 사이트 오른쪽에는 채팅을 할 수 있는 공간이 있습니다. </dd>
                        <dd> - 매너 채팅 부탁 드립니다. </dd>
                    </dl>
                </dd>
                <dd>
                    <dl>
                        <dt>레벨 ( 점수 ) 관련</dt>
                        <dd> - 사이트를 이용하시다보면 자연스럽게 점수가 쌓이게 됩니다 </dd>
                        <dd> - 일정 점수에 도달하면 등급이 상승합니다 </dd>
                        <dd> - [등급별 점수 기준] 1렙 100,
                            2렙 300,
                            3렙 500,
                            4렙 1000,
                            5렙 2000,
                            6렙 4000,
                            7렙 6000,
                            8렙 8000,
                            9렙 10000,
                            10렙 15000,
                            11렙 20000 </dd>
                    </dl>
                </dd>
            </dl>
            <dl>
                <dt>주의사항</dt>
                <dd> - 투표는 정확히 아는 것에만 합니다 </dd>
                <dd> - 조금이라도 헷갈리는 것에 대해서는 투표해선 안됩니다 </dd>
                <dd> - 투표 실수 및 고의 낚시는 '신고' 되실 수 있습니다. </dd>
                <dd> - 욕설은 이유 불문하고 '영구밴' 입니다. </dd>
                <dd> - 다른 '영구밴' 사유에 대한 것은 공식 카페를 참고하세요. </dd>
            </dl>
        </dd>
    </dl>
    <h1>화면을 클릭하면 도움말이 사라집니다</h1>
</div>
</body>
<script type="text/javascript" src="/indexSuwon.js"></script>
<script>
    $(document).ready(function() {
        if( isMobile() ) {
            window.location.href = 'http://jamlive.net';
            return;
        }

        var stringTable = {
            "modify-hint": "<%=__('modify-hint')%>",
            "modify-hint-complete": "<%=__('modify-hint-complete')%>",
            "today": "<%=__('today')%>",
            "hour": "<%=__('hour')%>",
            "minute": "<%=__('minute')%>",
            "quiz-on": "<%=__('quiz-on')%>",
            "quiz-off": "<%=__('quiz-off')%>"
        }

        CKEDITOR.replace('memo-area');
        var socket = io();
        init( socket, stringTable );
    });
</script>
