<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122840650-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122840650-1');
    </script>

    <title>라이브 퀴즈 정답 공유기 v0.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
    <meta property="og:description" content="JAM LIVE ( 잼라이브 ) 퀴즈 문제의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="/basic.js"></script>
    <script src="/myChart.js"></script>
    <link rel='stylesheet' href='/stylesheets/style3rd.css' />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
<separator role="menu">
    <img src="/images/logo.png"/>
    <div type="msg">참가자 수</div>
    <div type="noti"><vote_user_cnt>0</vote_user_cnt>명</div>
    <div type="msg">밴</div>
    <div type="noti"><vote_except>0</vote_except>명</div>
    <div type="line"></div>
    <div type="menu_btn" id="btn-svr1">서버1</div>
    <div type="menu_btn" id="btn-svr2">서버2</div>
    <div type="menu_btn" id="btn-svr3">서버3</div>
    <div type="menu_btn" id="btn-svr4">서버4</div>
    <div type="noti">현재: <%- servname %></div>
    <div type="line"></div>
    <%
    if( !username ) {%>
    <div type="menu_btn" id="btn-login">로그인</div>
    <%}else {%>
    <div type="user-info">
        <name><%=nick%></name>
        <lv><%=auth%> Lv</lv>
    </div>
    <div type="line"></div>
    <div type="menu_btn" id="btn-logout">로그아웃</div>
    <%}%>
    <% if( !username ) {%>
    <div type="menu_btn" id="btn-signup">회원가입</div>
    <%}else {%>
    <%}%>

    <div type="line"></div>
    <div type="menu_btn" id="btn-settings">설정</div>
    <div type="menu_btn" id="btn-help">도움말</div>
    <div type="line"></div>
    <div type="menu_btn" id="btn-quiz">기출문제</div>
    <div type="line"></div>
    <div type="msg">잼라이브</div>
    <div type="noti">FBICT</div>
    <div type="msg">페이큐</div>
    <div type="noti">LGJXRQ</div>
    <div type="menu_btn" id="btn-admin">운영자 메뉴</div>
</separator>
<article>
    <separator role="search-ret-1">
        <div type="search-area-1" id="search-area-1"></div>
        <div type="ads-area-1" id="ads-area-1">
            <div class="ads-1">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-urmud1jjvzg3"
                     data-ad-width   = "250"
                     data-ad-height  = "250"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
            </div>
            <div class="ads-2">
                <ins class="daum_ddn_area" style="display:none;"
                     data-ad-unit    = "DAN-1hbghejif3l2e"
                     data-ad-media   = "5MC"
                     data-ad-pubuser = "4jp"
                     data-ad-type    = "D"
                     data-ad-width   = "250"
                     data-ad-height  = "250"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js"></script>
            </div>
        </div>
        <div type="memo">
        </div>
    </separator>
    <separator role="search-ret-2">
        <div type="search-area-2" id="search-area-2">
        </div>
        <div type="next-quiz-time-left">
            <div class="h1">다음 라이브 퀴즈쇼 안내</div>
            <div class="h2"><weekday class="weekday">일요일</weekday> <quizinfo class="quizinfo">잼라이브 20시</quizinfo></div>
        </div>
        <div class="tango5-banner" style="text-align: center; background-color: #1e0804;">
            <a href="http://t5r.nexon.com/?small" target="_blank"><img style="margin: 0 auto;" src="/images/tango5_300x100.jpg"/></a>
        </div>
        <!--
        <div class="hotcomm-banner" style="text-align: center; background-color: #fece00;">
            <a href="http://t5r.nexon.com/?small" target="_blank"><img style="margin: 0 auto; width: 100%;" src="/images/hotcom_banner2.jpg"/></a>
        </div>
        -->
        <div type="caution">
            <div type="title">사이트 주의사항</div>
            <div type="red">정확하게 아는 것만 투표 해 주세요 ( 모르면 투표 X )</div>
            <div type="red">욕설은 무조건 ip 영구밴 대상이 됩니다</div>
            <div type="red">투표 실수에 대한 과도한 비난도 영구밴의 대상입니다</div>
            <div type="red">기타 비매너라고 판단되는 행위도 영구밴 대상입니다</div>
            <div type="red"><u>ex)투표빨리빨리 안해? 이런 것도 못푸냐 등</u></div>
        </div>
        <div type="line"></div>
        <div type="sub-menu">
            <menu-item class="menu-item" id="btn-show-func">기능키 설명</menu-item> |
            <menu-item class="menu-item" id="btn-search-user">회원정보 검색</menu-item> |
            <menu-item class="menu-item" id="open-memo-wnd">힌트 입력창</menu-item> |
            <menu-item class="menu-item" id="btn-no-quiz">퀴즈 끄기</menu-item>
        </div>
        <div type="line"></div>
        <div class="wnd-func-key">
            <img src="/images/shortcut.png" style="width:100%"/>
            채팅창에서 ESC 누르면 투표를 할 수 있는 모드로 변경됩니다.
        </div>
        <div class="wnd-search-user">
            <div class="top" >유저명 : <input type="text" value="" id="ip-search-user-name"/></div>
            <div class="ret" id="search-user-ret"></div>
            <div id="btn-close-search-user">닫기</div>
        </div>
        <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-tofpljkyvq06"
             data-ad-width   = "300"
             data-ad-height  = "250"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
        <div type="ads-area-2" id="ads-area-2">
        </div>
        <div type="sub-menu-area">
        </div>
    </separator>
    <separator role="vote-and-chat">
        <separator role="vote-graph">
            <div class="ct-chart">
            </div>
        </separator>
        <separator role="ads-area">
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-1iyeys41mnepk"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
        </separator>
        <separator role="chat-area">
            <div type="search-ret-rank">
                <div class="h1">유저들의 검색 결과 상위 5개</div>
                <div class="s1">클릭하면 검색합니다</div>
                <ui id="search-ret-rank-list">
                </ui>
            </div>
            <div type="chat-msg">
                <ul class="chat-ui">
                </ul>
            </div>
            <div type="chat-input">
                <input class="ip-name" type="text"><input class="ip-msg" type="text">
            </div>
        </separator>
        <separator role="ads-area-2">
            <ins class="kakao_ad_area" style="display:none;width:100%"
                 data-ad-unit    = "DAN-t87e91n4i053"
                 data-ad-width   = "320"
                 data-ad-height  = "50"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
        </separator>
    </separator>
</article>
<div id="hint-wnd">
    <textarea class="memo-area"></textarea>
    <div class="btn-memo">공유하기</div>
    <div class="btn-memo-cancel">취소하기</div>
</div>
<wnd role="settings">
    <div type="title"> - 투표 - </div>
    <div type="line"></div>
    <div type="checkbox"><input type="checkbox" class="cb_max_vote_duplicate"/>최다 투표 동률시 미표시</div>
    <div type="checkbox"><input type="checkbox" class="cb_show_member_vote_only"/>고정닉 투표 결과만 보기(로그인시)</div>
    <div type="msg">아래 설정값이하 미표시 ( <min_vote>0</min_vote>표 이하 ) </div>
    <div class="min_vote_slider"></div>
    <div type="line"></div>
    <div type="title"> - 검색 - </div>
    <div type="line"></div>
    <div type="msg">검색당 결과 수 ( <ret_cnt>0</ret_cnt>표 이하 ) </div>
    <div class="ret_cnt_slider"></div>
    <div type="checkbox"><input type="checkbox" id="cb_s0"/>네이버 - 백과사전
        <input type="radio" name="radio_s0" value="1" >왼쪽
        <input type="radio" name="radio_s0" value="2" checked>오른쪽</div>
    <div type="checkbox"><input type="checkbox" id="cb_s1"/>네이버 - 지식인
        <input type="radio" name="radio_s1" value="1" checked>왼쪽
        <input type="radio" name="radio_s1" value="2">오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_s2"/>네이버 - 블로그
        <input type="radio" name="radio_s2" value="1" checked>왼쪽
        <input type="radio" name="radio_s2" value="2">오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_s3"/>네이버 - 뉴스
        <input type="radio" name="radio_s3" value="1" checked>왼쪽
        <input type="radio" name="radio_s3" value="2">오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_s4"/>네이버 - 이미지
        <input type="radio" name="radio_s4" value="1" checked>왼쪽
        <input type="radio" name="radio_s4" value="2">오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_s5"/>구글(다음으로 대체)
        <input type="radio" name="radio_s5" value="1" >왼쪽
        <input type="radio" name="radio_s5" value="2"checked>오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_s6"/>사이트 기출DB
        <input type="radio" name="radio_s6" value="1" >왼쪽
        <input type="radio" name="radio_s6" value="2"checked>오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_s7"/>어학사전
        <input type="radio" name="radio_s7" value="1" >왼쪽
        <input type="radio" name="radio_s7" value="2"checked>오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_top_five"/>검색 top 5 보기</div>
    <div type="line"></div>
    <div type="title"> - 채팅 - </div>
    <div type="line"></div>
    <div type="checkbox"><input type="checkbox" id="cb_auto_scroll"/>강제 자동 스크롤 on/off</div>
    <div type="checkbox"><input type="checkbox" id="cb_votemsg"/>투표 채팅 가리기</div>
    <div type="checkbox"><input type="checkbox" id="cb_notshowsearchchat"/>검색 채팅 안받기</div>
    <div type="checkbox"><input type="checkbox" id="cb-notice-disable"/>알림 안받기</div>
</wnd>
<wnd role="help">
    <div type="title"> - 투표 방법 - </div>
    <div type="msg"> - 키보드 오른쪽 키패드 1,2,3으로 투표 가능</div>
    <div type="line"></div>
    <div type="title"> - 검색 방법 - </div>
    <div type="msg">채팅 입력창에서 '/' 입력 후 검색하고자하는 검색어를 입력한 후 엔터</div>
    <div type="msg">ex> '/월드컵 최다 우승팀'</div>
    <div type="line"></div>
    <div type="title"> - 신고 방법 - </div>
    <div type="msg"> 악의적으로 혼란을 주기 위해 이상한 투표를 하는 분들을 위한 신고 제도가 있습니다.</div>
    <div type="msg"> - 채팅창에서 그 유저의 아이디를 클릭 후 신고</div>
    <div type="line"></div>
</wnd>
<wnd role="analysis">
    <div type="title"> - 운영자 메뉴 - </div>
    <btn id="anal-start">통계 시작</btn>
    <btn id="anal-quiz-start">퀴즈 시작</btn>
    <input type="radio" name="quiz_answer" value="0" checked>1번
    <input type="radio" name="quiz_answer" value="1">2번
    <input type="radio" name="quiz_answer" value="2">3번
    <btn id="anal-quiz-end">퀴즈 종료</btn>
    <btn id="anal-end">통계 종료</btn>
</wnd>
<div class="admin_msg"></div>
<div class="user-menu">
    <div type="name"><name>왕야옹</name> 님을</div>
    <div type="menu">
        <div type="btn" id="um-ban">신고합니다</div>
        <div type="btn" id="um-permanentban" class="admin-component">영구 밴합니다</div>
        <div type="btn" id="um-like">칭찬합니다</div>
        <div type="btn" id="um-cancel">다시 생각해볼게요</div>
    </div>
</div>
<div class="quiz_wnd">
    <div class="q_title">문제</div>
    <div style="height: 10px;"></div>
    <div class="q_q">보기1</div>
    <div class="q_q">보기2</div>
    <div class="q_q">보기3</div>
    <div><time>0</time></div>
</div>
<div class="popup_wnd">
    <div name="top" >
        넥슨 갓게임 - 탱고파이브<div name = "close" id="btn-popup-close"> X </div>
    </div>
    <a href="http://t5r.nexon.com/?big" target="_blank"><img name="ads" src="/images/tango5.jpg"/></a></br>
    <a href="http://t5r.nexon.com/?big" target="_blank"><div name="go_reserv">
            참전하러 가즈아!!
        </div></a>
</div>
</body>
<script type="text/javascript" src="/index_3rd.js"></script>
<script>
    $(document).ready(function() {
        if( isMobile() ) {
            window.location.href = 'http://jamlive.net';
            return;
        }

        $('.ip-name').prop('disabled', true);
        <%if(!username) {%>
        <%}else {%>
        isLogin = true;
        $('.ip-name').val('<%- nick %>');
        usernick = '<%= nick %>';
        <%}%>
        init();
        initAnalysis();
        registerKeyEvent();
        registerSocketEvent();
        setMinVoteSliderListener();
        setShowMemberVoteOnlyListener();
        setSearchTopFiveListener();
        setSocketListener();
        setBtnListener();
        setSearchCheckboxes();
        setVoteMsgVisibleListener();
    });
</script>
